{% extends 'base.html' %}

{% block style %}
    {% include 'CSS/password_reset_done_css.html' %} 
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="d-flex flex-column">
        <div class='alert alert-info p-1'>
            <div class="d-flex justify-content-center">
                <div>
                    <strong>Password Reset Email Sent:</strong>&nbsp;
                </div>
                <div>
                    If you have entered your email id correctly, then
                    you will soon receive an email with instructions to reset your password.&nbsp;&nbsp;&#129488;
                </div>
            </div>     
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'chat:login' %}">Sign In Here</a>
        </div>
    </div>
{% endblock %}