<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{page_name}}</title>
    {% include 'css.html' %}
    {% block style %}
    {% endblock %}
</head>
<body>

<div class='container'>
    <div class='d-flex border-bottom my-3 py-3 flex-row justify-content-between'>
        <div class='p-1'>
            <h1 class='p-0 m-0 display-4'>{{page_name}}</h1>
        </div>
        <div class="p-1">
            <div>{% block headings %}{%endblock%}</div>
        </div>
    </div>
    {% block dropdown %}{% endblock %}

{% block content %}
{% endblock %}
</div>


{% include 'js.html' %}
{% block script %}
{% endblock %}

</body>
</html>