<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<style>
    svg {
        margin-bottom: 0.2rem;
    }
    .profile-icon-list-group {
        position: absolute;
        top: 4.5rem;
        right: 5rem;
        border-radius: 1rem;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .profile-icon-dropdown-hide {
        display: none !important;
    }
    .container {
        position: relative;
    }

    .logout-form {
        display: none;
    }
</style>