<style>
    @keyframes welcomeUser {
        0%   {opacity: 0;}
        20%  {opacity: 0.5;}
        50%  {opacity: 1;}
        80%  {opacity: 0.5;}
        100% {opacity: 0;}
    }

    div.alert.on-load {
        position: fixed;
        bottom: 1rem;
        left: 2rem;
        animation-name: welcomeUser;
        animation-duration: 10s;
        animation-delay: 0.2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    div.alert.on-load.small {
        width: 10rem;
    }
    div.alert.on-load.medium {
        width: 20rem;
    }
    div.alert.on-load.large {
        width: 30rem;
    }
</style>